{% extends 'base.html' %}

{% block content %}
                <div class="container-fluid">
                    <div class="col-12">
                        <div class="card bg-secondary">
                            <div class="card-header font-weight-bold text-warning">
                                Artículos
                            </div>
                            <div class="card-body">
                            <!-- Page Heading -->
                            {% if not articles %}
                                <p class="card-text text-danger">No hay artículos disponibles</p>
                            {% endif %}
                            {% for article in articles %}
                                <div class="card m-3 bg-dark animate">
                                    <div class="card-header">
                                        <h5 class="card-title mb-0">
                                            <a class="text-warning" href="{{ article.url }}">
                                                {{ article.title }}
                                            </a>
                                        </h5>
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text text-light">{{ article.body }}</p>
                                    </div>
                                </div>
                            {% endfor %}
                            </div>
                        </div>

                    </div>

                </div>
                <style>
                .animate:hover{
                  -webkit-animation: tiembla 0.3s infinite;
                }
                @-webkit-keyframes tiembla{
                  0%  { -webkit-transform:rotateZ(-1deg); }
                  50% { -webkit-transform:rotateZ( 0deg) scale(0.95); }
                  100%{ -webkit-transform:rotateZ( 1deg); }
                }

                </style>
{% endblock %}

<!--
                    .animate {
                        height: 150px;
                        transition: height 2s;
                    }

                    .animate:hover {
                        height: 200px;
                    }

                    .animate {
                        transition: transform 2s;
                    }

                    .animate:hover {
                        transform: rotate(180deg);
                    }
-->

