<!DOCTYPE html>
<html lang="en">

<head>


    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Wolf Street</title>

    <!-- Custom fonts for this template-->
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{{ url_for('static', filename='/index.css') }}" rel="stylesheet">

    <link href="{{ url_for('static', filename='/index_2.css') }}" rel="stylesheet">

    <!-- Bootstrap core JavaScript-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>

    <!-- Page level plugins -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.bundle.min.js'></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">

    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/img/favicon-16x16.png">
    <meta name="theme-color" content="#ffffff">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-QEF4DLFKZ7"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-QEF4DLFKZ7');
</script>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>

<body id="page-top" class>
    <!-- Page Wrapper -->
    <div id="wrapper">
        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-warning sidebar sidebar-dark accordion" id="accordionSidebar">
            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{ url_for('indexes.get_indexes') }}">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3 dabid_visval_las_2_con_v"><img class="mb-4" src="{{ url_for('static',filename='/img/WolfStreet.jpg') }}" alt="" width="72" height="72" margin-top:"10"></div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <div class="nav">
                <li class="nav-item active">
                    <a class="nav-link btn-warning" id="inicio" href="{{ url_for('indexes.get_indexes') }}">
                        <i class="fas fa-fw fa-tachometer-alt"></i>
                        <span class="text-dark">Dashboard</span></a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link btn-warning" id="articulo" href="{{ url_for('articles.get_articles') }}">
                        <i class="fas fa-fw fa-tachometer-alt"></i>
                        <span class="text-dark">Artículos</span></a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link btn-warning" id="bolsa" href="{{ url_for('exchanges.list') }}">
                        <i class="fas fa-fw fa-tachometer-alt"></i>
                        <span class="text-dark">Bolsas</span></a>
                </li>
            </div>



            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading text-muted">
                Interface
            </div>

            <div class="nav">
                <!-- Nav Item - Artículos -->
                <li class="nav-item active">
                    <a class="nav-link btn-warning" href="{{ url_for('auth.logout') }}">
                        <i class="fas fa-fw fa-table"></i>
                        <span class="text-danger">Cerrar Sesion</span></a>
                </li>
            </div>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column bg-dark">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-secondary topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <div class="d-sm-flex align-items-center justify-content-between mb-4" style="margin-top: 20px;margin-left: 15px;">
                        <h1 class="h3 mb-0 text-light">{{g.user.username}} Dashboard</h1>
                    </div>

                    <ul class="navbar-nav ml-auto">
                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle btn-secondary" href="/profile" id="userDropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-light small">Saldo: {{"%.2f€"|format(g.user.money)}}</span>
                                <img class="img-profile rounded-circle" src="https://images.unsplash.com/photo-1522075469751-3a6694fb2f61">
                            </a>
                        </li>
                        <li class="nav-item dropdown no-arrow">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{total_money}}</span>
                        </li>

                    </ul>

                    </div>
                </nav>
                <!-- End of Topbar quitar favourites-->

                <!-- Begin Page Content -->
                    {% block content %} {% endblock %}
                <!-- End Page Content -->
            </div>
            <!-- End of Main Content -->
        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>


    <script>
    ///////////////////////
    var pathname = $(location).attr('pathname');

    if(pathname == "/articles/"){
        $("#articulo").removeClass("active");
        $("#inicio").removeClass("active");
        $("#bolsa").removeClass("active");

        $("#articulo").addClass("active");
        //alert("articulo");
    }else if(pathname == "/indexes/"){
        $("#articulo").removeClass("active");
        $("#inicio").removeClass("active");
        $("#bolsa").removeClass("active");

        $("#inicio").addClass("active");
        //alert("inicio");
    }else if(pathname == "/exchanges/"){
        $("#articulo").removeClass("active");
        $("#inicio").removeClass("active");
        $("#bolsa").removeClass("active");

        $("#bolsa").addClass("active");
        //alert("bolsa");
    }
    //console.log(pathname);
    ///////////////////
    </script>
</body>

</html>
















